#tree {
    display: flex;
    justify-content: space-around;
}

.play {
    display: flex;
    background-color: #609030;
    border: none;
    border-radius: 25%;
    padding: 0.4rem 0.8rem;
}

button.go {
    width: 3rem;
    height: 3rem;
    border-style: solid;
    border-width: 1.5rem 0rem 1.5rem 3rem;
    border-color: transparent transparent transparent #202020;
    background: none;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}

button.pause {
    border-style: double;
    border-width: 0rem 0rem 0rem 2rem;
    border-color: #202020;
    background: none;
    outline: none;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

div.counter {
    display: flex;
    flex-direction: column;
    flex-basis: 10vmin;
    border: none;
    border-radius: 10%;
    text-align: center;
    color: white;
    background: darkslategrey;
    font-size: 22px;
    padding: 6px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    font-weight: 900;
}

#dd:after, #hh:after, #mm:after, #ss:after {
    display: flex;
    font-size: 14px;
    width: 100%;
    font-weight: normal;
    text-align: center;
}

#dd:after {
    content: 'დღე';
}

#hh:after {
    content: 'საათი'
}

#mm:after {
    content: 'წუთი'
}

#ss:after {
    content: 'წამი'
}