#tree {
    display: flex;
    justify-content: space-around;
}

#play {
    display: flex;
    justify-content: space-around;
}

button {
    font-size: 3rem;
    padding: 5px 10px 5px 10px;
    color: #40ff80;
    justify-content: space-around;
    text-transform: capitalize;
    background: none;
    border: none;
    outline: none;
}